# Auto detect text files and perform LF normalization
* text=auto
*.pth filter=lfs diff=lfs merge=lfs -text
model_Project_1.pth filter=lfs diff=lfs merge=lfs -text
model_Project_1.pth filter=lfs diff=lfs merge=lfs -text
